# BASIC PYTHON SYNTAX TUTORIAL

## Variable assignment and casting

To assign a particular value to a vairable, use the *=* operator. It is good practice to leave spaces between operators, variable names, and numbers.

In [256]:
a = 10.9999
print("The value of a is currently" , a)

The value of a is currently 10.9999

There are different types of variables in Python, namely (integers, floats, strings, etc.)
To define a specific type of variable use the following syntax to *cast*

In [257]:
b_float = float(a)
print("This is a float",b_float)
b_int = int(a)
print("This is an integer",b_int)
b_string = str(a)
print("This is a string",b_string)

This is a float 10.9999
This is an integer 10
This is a string 10.9999

Note that if we define an integer as *int(2.9999)* it will be rounded to the nearest and smallest integer.
If you are unsure what the type of a variable is, you can use the *type/class* function

In [258]:
print("The type of b_int is:   ",type(b_int))
print("The type of b_float is: ",type(b_float))
print("The type of b_string is:",type(b_string))

The type of b_int is:    <class 'int'>
The type of b_float is:  <class 'float'>
The type of b_string is: <class 'str'>

**NOTE: variable names are case sensistive** as the code demonstrates below

In [259]:
a = 2
A = 3
print("The value of a is",a)
print("The value of A is",A)

The value of a is 2
The value of A is 3

## Loading standard libraries

There are many Python libraries that include useful numerical functions. 
These libraries include
-  numpy (includes mathematical functions such as trigonometric functions, hyperbolic functions, rounding, summation, products, exponents, logarithms, etc.)
-  math (includes additional mathematical functions such as factorial, logarithms with arbitrary bases, etc. )
-  scipy (includes advanced numerical functions such as integrate, linalg, optimize, interpolate, fft, etc.)  
-  matplotlib (includes functions for plotting data such as pyplot)

To load a library, simply use **import** as follows

In [26]:
import numpy as np
import math

Now, we can use the functions contained in the numpy library.

In [27]:
pi_local = np.pi
print("The value of pi is:",pi_local)
cos_pi = np.cos(pi_local)
print("The value of cos(pi) is",cos_pi)

The value of pi is: 3.141592653589793
The value of cos(pi) is -1.0

Alternatively, we can calculate cos($\pi$) without defining local variables as follows

In [28]:
print("The value of cos(pi) is",np.cos(np.pi))

The value of cos(pi) is -1.0

We  can similarly use other built in functions

In [30]:
print("e^(pi) is:   ",np.exp(np.pi))
print("ln(e) is:    ",np.log(np.e))
print("log(100) is: ",np.log10(100))
print("log_2(8) is: ",math.log(8,2))

e^(pi) is:    23.140692632779267
ln(e) is:     1.0
log(100) is:  2.0
log_2(8) is:  3.0

## Variable manipulations

To add to the value of the variable, one needs to 1) first add to the existing value and 2) then assign the new value to the variable

In [49]:
a = 10
a = a + 10
print("The result of a = a + 10 is" , a)

The result of a = a + 10 is 20

Alternatively, you can also use the *+=* operator

In [50]:
a += 5
print("The result of a += 10 is" , a)

The result of a += 10 is 25

Similar operators include *-=*, *\/=*, and *\*=*

In [51]:
a-=5
print("The result of a -= 5 is:" , a)
a/=5
print("The result of a /=5 is:" , a)
a*=5
print("The result of a *=5 is:" , a)

The result of a -= 5 is: 20
The result of a /=5 is: 4.0
The result of a *=5 is: 20.0

To raise a variable to some power, use the *\*\** operator

In [52]:
b = a**2
print("The result of a**2 is:",b)
b = a**2.5
print("The result of a**2.5 is:",b)

The result of a**2 is: 400.0
The result of a**2.5 is: 1788.8543819998317

To take the square root, we can raise the variable to the 1/2 power

In [53]:
b = a**(1/2)
print("The result of a**(1/2) is:",b)

The result of a**(1/2) is: 4.47213595499958

Alternatively, we can also use the *sqrt()* function of numpy

In [54]:
b = np.sqrt(a)
print("The result of sqrt(a) is:",b)

The result of sqrt(a) is: 4.47213595499958

For any operation, the result of float (2 or more floats) or mixed arithmetic (integers with floats) is a float. For integer arithmetic the type of the result can be a *float* or an *int*

In [61]:
a_float = float(2)
a_int = int(2)
b_int = int(4)
print("Mixed arithmetic result types\n")
print("The result of a_float+b_int is an int:       ",type(a_float+b_int))
print("The result of a_float-b_int is an int:       ",type(a_float-b_int))
print("The result of a_gloat*b_int is an int:       ",type(a_float*b_int))
print("The result of a_float/b_int is a float:      ",type(a_float/b_int))
print("The result of a_int^b_int is a float:        ",type(a_float**b_int))
print("The result of sqrt(a_float*a_int) is a float:",type(np.sqrt(a_float*a_int)))
print("\n")
print("Integer arithmetic result types\n")
print("The result of a_int+b_int is an int:       ",type(a_int+b_int))
print("The result of a_int-b_int is an int:       ",type(a_int-b_int))
print("The result of a_int*b_int is an int:       ",type(a_int*b_int))
print("The result of a_int/b_int is a float:      ",type(a_int/b_int))
print("The result of a_int^b_int is a float:      ",type(a_int**b_int))
print("The result of sqrt(a_int*a_int) is a float:",type(np.sqrt(a_int*a_int)))

Mixed arithmetic result types

The result of a_float+b_int is an int:        <class 'float'>
The result of a_float-b_int is an int:        <class 'float'>
The result of a_gloat*b_int is an int:        <class 'float'>
The result of a_float/b_int is a float:       <class 'float'>
The result of a_int^b_int is a float:         <class 'float'>
The result of sqrt(a_float*a_int) is a float: <class 'numpy.float64'>


Integer arithmetic result types

The result of a_int+b_int is an int:        <class 'int'>
The result of a_int-b_int is an int:        <class 'int'>
The result of a_int*b_int is an int:        <class 'int'>
The result of a_int/b_int is a float:       <class 'float'>
The result of a_int^b_int is a float:       <class 'int'>
The result of sqrt(a_int*a_int) is a float: <class 'numpy.float64'>

**NOTE: While you can combine integers with floats, combining strings with integers or floats results in an error message** as indicated by the code below

In [260]:
a_float  = float(3)
a_string = str(3)
a_float + a_string

TypeError: unsupported operand type(s) for +: 'float' and 'str'

## Arrays and matrices

To define an list/array of integers, we can use several syntaxes

In [148]:
import numpy as np

# define length of array
N = 4

# define an array of floats with N elements and initialize every element to zero
array_float = np.zeros(N,dtype = float)
print("The array is:",array_float)

The array is: [0. 0. 0. 0.]

We can use similar syntax to define arrays of integers and/or strings. 

To access/modify an element of the arry, the following syntax is used

In [149]:
array_float[0]=1
array_float[1]=2
array_float[2]=3
array_float[N-1]=N
print("The array is:",array_float)

The array is: [1. 2. 3. 4.]

**NOTE: For an array with N elements, the index of the first entry is 0 and that of the last array entry is N-1 !!**

To change all values of the array by some operation, we can use the syntax

In [150]:
array_float[:] += 1
print("The array is:", array_float)
array_float[:] /= 2
print("The array is:", array_float)

The array is: [2. 3. 4. 5.]
The array is: [1.  1.5 2.  2.5]

To change only a contiguous subset of the elements by the same operation, we can use the syntax

In [151]:
array_float[0:3] *= 2
print("The array is:", array_float)

The array is: [2.  3.  4.  2.5]

**NOTE: If we want to change elements n through m (with 0 <= n <= m <= N), the syntax is *array[n:m+1]*

In [152]:
first = 0
last = 3
array_float[first:last+1] = 0
print("The array is:", array_float)

The array is: [0. 0. 0. 0.]

An *MxN* matrix is a 2D array with *M* rows and *N* columns. To define an *MxN* matrix, the syntax is

In [155]:
N = 2
M = 3
matrix = np.zeros( ( M , N ) ,dtype = float)
matrix[0,:] = 0
matrix[1,:] = 1
matrix[2,:] = 2
print("The matrix is:")
print(matrix)

The matrix is:
[[0. 0.]
 [1. 1.]
 [2. 2.]]

## User-defined functions

To define a function, we use the following general syntax.

def function_name(input_1, input_2, ...):
> code line_1 <br>
> code line_2 <br>
> ... <br>

> return output_1, ouput_2, ...

For example, we can define a function that adds two numbers as follows

In [85]:
def add_two_numbers(a,b):

    # function that returns the sum of two numbers a & b
    
    result = a + b
    
    return result

Then, we can call this function as

In [86]:
a = 2.0
b = 2.5
aPb = add_two_numbers(a,b)
print("The result of a + b is:",aPb)

The result of a + b is: 4.5

If we need to use some more advanced mathematical functions, we can just load the appropriate libraries

In [87]:
def more_complex_function(a,b):

    # function that adds the square root of a to the exponential of b
    
    import numpy as np
    
    return np.sqrt(a) + np.exp(b)

In [88]:
complex_result = more_complex_function(a,b)
print("The result of sqrt(a) + e^b is:",complex_result)

The result of sqrt(a) + e^b is: 13.596707523076569

## Numerical integration

The *scipy* library contains functions for numerical integration. To use it, we first load the relevant library.

In [173]:
import scipy as sp

To evaluate a simple integral like $\int_{1}^{2} x^2 dx$ we first define a function the evaluates $x^2$ and then call the general-purpose one-dimension integration function *quad*

In [174]:
def my_simple_function(x):
    
    # simple function to evaluate x**2

    return x**2

I=sp.integrate.quad(my_simple_function,1,2)
print("The value of the integral is:", I)
print("The real component of the integral is:",I[0])
print("The imaginary component of the integral is:",I[1])

The value of the integral is: (2.333333333333333, 2.5905203907920317e-14)
The real component of the integral is: 2.333333333333333
The imaginary component of the integral is: 2.5905203907920317e-14

**Note that the integral has. in general, a real and an imaginary component. For our purposes, we will need the real component**

We can use similar logic to evaluate more general integrals.

In [175]:
def trigonometric_function(x,n,k):

    # function that returns the value of sin(k*x)**n
    # NOTE: The first input argument for the function MUST be the independent variable

    return np.cos(k*x)**n

# define exponent and frequency

n = 1
k = 1

I = sp.integrate.quad(trigonometric_function,0,np.pi/2,args=(n,k))
print("The real component of the integral is:", I[0])

The real component of the integral is: 0.9999999999999999

## Simple *for* and *while* loops

A *for loop* is a programming construct that repeatedly executes a block of code. <br> We can use several syntaxes to execute a for loop. <br>

The code below deomnstrates the basic for loop syntax and prints the iteration variable *i*.

In [195]:
# simple loop to print the value of the iteration variable i

for i in range(1,5):

    # this is the part of the code that gets executed multiple times
    
    print("The value of i is:",i)

# we are done with the for loop
print("for loop done")

The value of i is: 1
The value of i is: 2
The value of i is: 3
The value of i is: 4
for loop done

Alternatively, we can also use a *while* loop

In [196]:
start = 1
end = 5

i = start
while i<end:

    # this is the part of the code that gets executed multiple times

    print("The value of i is:",i)

    # update the iteration counter (without this, we have an infinite loop)
    i += 1
    
# we are done with the loop
print("while loop done")

The value of i is: 1
The value of i is: 2
The value of i is: 3
The value of i is: 4
while loop done

Note that if we omit the first entry in the range of a for loop, it is assumed to be 0.

In [197]:
for i in range(5):

    print("The value of i is:",i)

The value of i is: 0
The value of i is: 1
The value of i is: 2
The value of i is: 3
The value of i is: 4

The code below demonstrates how we can use a for loop to calculate the sum $S = \sum_{i=first}^{last} i$

In [198]:
# initialize the value of the sum
S = 0

# define first and last values for the iteration variable i
first = 1
last  = 5

# clculate the sum
for i in range(first,last+1):
    
    # update the sum
    S += float(i)
    
    print(F'iteration: {i:2d} value of sum: {S:5f}')

# the for loop is done
print("")
print(F'The final value of the sum is {S:5f}')

iteration:  1 value of sum: 1.000000
iteration:  2 value of sum: 3.000000
iteration:  3 value of sum: 6.000000
iteration:  4 value of sum: 10.000000
iteration:  5 value of sum: 15.000000

The final value of the sum is 15.000000

## Nested loops

Nested loops, as the name implies, are loops inside loops. The code below illustrates the use of two nested loop.

In [239]:
i_max = 2
j_max = 4

for i in range (i_max):

    for j in range(j_max):

        print(F"i={i:1d} j={j:1d}")

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=1 j=0
i=1 j=1
i=1 j=2
i=1 j=3

**NOTE: The inside loop over *j* is executed for every value of $i$. Furthermore, the variables for the iteration variables cannot be the same.**

The code below demonstrates how we can use two nested loops to calculate the double sum 

$$\sum_{i=0}^{i<=i_{max}} \sum_{j=i}^{j < j_{max}} ( i \cdot j )$$

In [248]:
i_max = 2
j_max = 5

sum = 0

for i in range(i_max + 1):

    for j in range(i,j_max):

        sum += i * j
        print(F"i={i:1d} j={j:1d}")

print(F"The final sum is equal to {sum:3d}")

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=0 j=4
i=1 j=1
i=1 j=2
i=1 j=3
i=1 j=4
i=2 j=2
i=2 j=3
i=2 j=4
The final sum is equal to  28

## *if*, *break*, and *continue* statements

The code below demonstrates the use of an *if* conditional statement

In [216]:
for i in range(4):

    if ( i == 1 ):

        print(F"The value of i={i:1d} is equal to 1")

    elif ( i == 2 ):

        print(F"The value of i={i:1d} is equal to 2")

    else:

        print(F"The value of i={i:1d} is not equal to 1 or 2")

The value of i=0 is not equal to 1 or 2
The value of i=1 is equal to 1
The value of i=2 is equal to 2
The value of i=3 is not equal to 1 or 2

Other logical operators include <br>
- *>* : greater than
- *>=* : gretater than or equal to
- *!=* : not equal to
- *<* : less than
- *<=* : less than or equal to

Modify the code below to see the effect of their use.

In [225]:
for i in range(4):
    
    if ( i >= 2 ):
        
        print(F"Conditional statement met with i={i:1d}")

Conditional statement met with i=2
Conditional statement met with i=3

The *break* statement terminates the execution of a loop. <br>

The code below demonstrates the use of the *break* statement in a simple loop

In [227]:
i_want = 2
for i in range(4):
    if ( i == 3 ):
        print(F"The value of i is equal to {i_want:2d} ... exiting")
        break
    else:
        print(i)

0
1
2
The value of i is equal to  2 ... exiting

The following code demonstrates the *break* statement in a nested loop

In [210]:
for i in range(3):

    for j in range(4):

        if ( j == j_want ):

            print(F"The value of the inside loop iteration variable (j = {j:1d}) is equal to the outside loop iteration variable (i={i:1d})")
            break

The value of the inside loop iteration variable (j = 2) is equal to the outside loop iteration variable (i=0)
The value of the inside loop iteration variable (j = 2) is equal to the outside loop iteration variable (i=1)
The value of the inside loop iteration variable (j = 2) is equal to the outside loop iteration variable (i=2)

The *continue* statement *skips* the excution of a piece of code inside a loop.

The code below demonstrates the use of the *continue* statement.

In [236]:
sum = 0

i_max = 10
i_exclude = 10

for i in range(i_max + 1):

    if ( i == i_exclude ): 

        continue

    else:

        sum += i

print(F"The final value of the sum of integers 0  <= i <= {i_max:3d} not including {i_exclude:2d} is {sum:3d}")

The final value of the sum of integers 0  <= i <=  10 not including 10 is  45